body.connected{
    background-color:#313f52;
}

#searchAnnuaire i, #searchAnnuaire input{
    color:white;
}

.accueil_link{
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.accueil_link i{
    margin-right:10px;
}

/* MENU */
#menu .menu-item, #menu .button-collapse{
    color:#313f52 !important; 
}

/* INIT PROFILE */
#keywords{
    text-align: left;
}

/* ANNUAIRE */
#annuaire .card-image{
    height:200px;
    width:100%;
    background-size:cover;
}

.keyword.badge{
    color: white;
    background: #E0BF25;
}

.card-initiale{
    display: inline-block;
    color: white;
    width: 100%;
    font-size: 9em;
    text-align: center;
}

#profile .card-initiale{
    position: absolute;
    z-index: 2;
}
