<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Bastet</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="menu-item" data-href="profile">
          <i class="material-icons left">perm_identity</i>Mon profil</a>
      </li>
      <li>
        <a class="menu-item" data-href="annuaire">
          <i class="material-icons left">book</i>Annuaire</a>
      </li>
      <li>
        <a class="menu-item" data-href="store">
          <i class="material-icons left">work</i>Emploi Store</a>
      </li>
      <li>
        <a class="menu-item" data-href="bug_report">
          <i class="material-icons left">bug_report</i>Signaler un bug</a>
      </li>
      <li>
        <a class="menu-item" data-href="disconnect" onclick="disconnect()">
          <i class="material-icons left">cancel</i>Deconnexion</a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li>
        <a class="menu-item" data-href="profile">
          <i class="material-icons left">perm_identity</i>Mon profil</a>
      </li>
      <li>
        <a class="menu-item" data-href="annuaire">
          <i class="material-icons left">book</i>Annuaire</a>
      </li>
      <li>
        <a class="menu-item" data-href="store">
          <i class="material-icons left">work</i>Emploi Store</a>
      </li>
      <li>
        <a class="menu-item" data-href="bug_report">
          <i class="material-icons left">bug_report</i>Signaler un bug</a>
      </li>
      <li>
        <a class="menu-item" data-href="disconnect" onclick="disconnect()">
          <i class="material-icons left">cancel</i>Deconnexion</a>
      </li>
    </ul>
  </div>
</nav>